---
const {frontmatter} = Astro.props;
import Header from "../components/Header.astro";
import '../style/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <!-- ... -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-1.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>
  </head>
  <!-- ... -->
   <body>
    <Header></Header>

    <main>
      <h1>{frontmatter.title}</h1>
      <div>{frontmatter.date}</div>
      <!-- <h2>Post author: {frontmatter.author}</h2> -->
      <!-- <p>{frontmatter.description}</p> -->
      <slot /> <!-- Markdown content is injected here -->
    </main>
   </body>
  <!-- ... -->
</html>


<style>
  main {
		padding: 0px 10px;
	}

  code {
    font-family: "JetBrains Mono", serif;
  }
</style>